/* styles.css */
.online {
    color: green; /* vert pour en ligne */
 
    
}

.offline {
    color: red; /* rouge pour hors ligne */

}
.user-card {
    border: 1px solid black;
    background-color: beige;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  